.header {
  margin-top: 100px;
  .nav-header {
    margin: auto;
    padding: 15px;
    max-width: 450px;
    align-content: center;
    text-align: center;
  }
  .button {
    display: flex;
    justify-content: center;
  }
}
