.validate {
  margin-top: 100px;
  .input-validate {
    margin: auto;
    padding: 15px;
    max-width: 400px;
    align-content: center;
  }
  .add-btn {
    margin-right: 10px;
  }
  .fw-bold {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }
  .all-button {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .erros-toast {
    width: auto;
    font-size: 0.875rem;
    color: #f93154;
  }
}
